:root {
    --main-color:#fff;
    --main-color-2:#0b1e38;
    --white-color:#fff;
    --black-color:#484f56;
    --input-color:#f4f4f4;
    --dropmenu-color:#0e1c2f; }
  
  .navbar-dashboard-site {
    background-color: #313a46;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000000;
    top: 0;
    border-bottom: 1px solid #00000012; }
    .navbar-dashboard-site .left-side-navbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 30%;
      gap: 0 20px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .navbar-dashboard-site .left-side-navbar .menu-navbar {
        cursor: pointer; }
        .navbar-dashboard-site .left-side-navbar .menu-navbar :nth-child(1) {
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .navbar-dashboard-site .left-side-navbar .menu-navbar :nth-child(1).x {
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
            position: relative;
            top: 6px; }
        .navbar-dashboard-site .left-side-navbar .menu-navbar :nth-child(2).disapper {
          display: none; }
        .navbar-dashboard-site .left-side-navbar .menu-navbar :nth-child(3) {
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .navbar-dashboard-site .left-side-navbar .menu-navbar :nth-child(3).x {
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg); }
        .navbar-dashboard-site .left-side-navbar .menu-navbar span {
          display: block;
          width: 20px;
          height: 2px;
          background-color: #9da9bb;
          color: #9da9bb;
          margin: 4px 0;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
      @media (max-width: 767px) {
        .navbar-dashboard-site .left-side-navbar .logo {
          display: none; } }
      .navbar-dashboard-site .left-side-navbar .logo img {
        width: 130px;
        height: 30px; }
      .navbar-dashboard-site .left-side-navbar .search {
        position: relative;
        width: 100%; }
        @media (max-width: 767px) {
          .navbar-dashboard-site .left-side-navbar .search {
            display: none; } }
        .navbar-dashboard-site .left-side-navbar .search input {
          background-color: var(--input-color);
          border: 1px solid #344050;
          border-radius: 15px;
          font-size: 13px;
          width: 210px;
          color: #fff;
          outline: none;
          height: 29px;
          padding: 13px 25px;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .navbar-dashboard-site .left-side-navbar .search input:focus {
            background-color: #0e1c2f;
            border-color: #4d5969; }
        .navbar-dashboard-site .left-side-navbar .search i {
          position: absolute;
          color: #4d5969;
          font-size: 12px; }
        .navbar-dashboard-site .left-side-navbar .search .fa-search {
          top: 10px;
          left: 10px; }
        .navbar-dashboard-site .left-side-navbar .search .fa-times {
          top: 10px;
          right: 15px;
          cursor: pointer; }
    .navbar-dashboard-site .right-side-navbar {
      width: 70%;
      text-align: right;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      gap: 0 20px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #fff; }
      .navbar-dashboard-site .right-side-navbar img {
        height: 2rem;
        width: 2rem;
        border-radius: 50%; }
      .navbar-dashboard-site .right-side-navbar i {
        color: #fff;
        cursor: pointer;
        font-size: 20px; }
      .navbar-dashboard-site .right-side-navbar .profile-user img {
        cursor: pointer; }
      .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user {
        text-align: center;
        width: 100px !important;
        top: 35px !important; }
        .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user::before {
          content: "";
          position: absolute;
          border-color: transparent transparent var(--dropmenu-color) transparent !important;
          border-width: 11px;
          border-style: solid;
          top: -15px;
          right: 2px; }
        .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user ul {
          list-style: none;
          padding: 0;
          margin: 0; }
          .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user ul li {
            text-align: center;
            padding: 10px; }
            .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user ul li a {
              color: var(--white-color);
              font-size: 12px;
              text-decoration: none; }
      .navbar-dashboard-site .right-side-navbar .notifications, .navbar-dashboard-site .right-side-navbar .profile-user {
        position: relative; }
        .navbar-dashboard-site .right-side-navbar .notifications:hover .drowpdown-notifications, .navbar-dashboard-site .right-side-navbar .notifications:hover .dropdown-profile-user, .navbar-dashboard-site .right-side-navbar .profile-user:hover .drowpdown-notifications, .navbar-dashboard-site .right-side-navbar .profile-user:hover .dropdown-profile-user {
          display: block; }
        .navbar-dashboard-site .right-side-navbar .notifications .drowpdown-notifications, .navbar-dashboard-site .right-side-navbar .notifications .dropdown-profile-user, .navbar-dashboard-site .right-side-navbar .profile-user .drowpdown-notifications, .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user {
          position: absolute;
          right: 0;
          width: 230px;
          display: none;
          background-color: var(--dropmenu-color);
          top: 30px;
          text-align: left;
          -webkit-box-shadow: 0 0.5rem 1rem #0000004d;
                  box-shadow: 0 0.5rem 1rem #0000004d;
          border-radius: 10px; }
          .navbar-dashboard-site .right-side-navbar .notifications .drowpdown-notifications::before, .navbar-dashboard-site .right-side-navbar .notifications .dropdown-profile-user::before, .navbar-dashboard-site .right-side-navbar .profile-user .drowpdown-notifications::before, .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user::before {
            content: "";
            position: absolute;
            border-color: transparent transparent #132742 transparent;
            border-width: 11px;
            border-style: solid;
            top: -15px;
            right: 2px; }
          .navbar-dashboard-site .right-side-navbar .notifications .drowpdown-notifications .title, .navbar-dashboard-site .right-side-navbar .notifications .dropdown-profile-user .title, .navbar-dashboard-site .right-side-navbar .profile-user .drowpdown-notifications .title, .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user .title {
            background-color: #132742;
            border-radius: 10px; }
          .navbar-dashboard-site .right-side-navbar .notifications .drowpdown-notifications .title, .navbar-dashboard-site .right-side-navbar .notifications .drowpdown-notifications .view-all, .navbar-dashboard-site .right-side-navbar .notifications .dropdown-profile-user .title, .navbar-dashboard-site .right-side-navbar .notifications .dropdown-profile-user .view-all, .navbar-dashboard-site .right-side-navbar .profile-user .drowpdown-notifications .title, .navbar-dashboard-site .right-side-navbar .profile-user .drowpdown-notifications .view-all, .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user .title, .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user .view-all {
            padding: 6px;
            text-align: center; }
          .navbar-dashboard-site .right-side-navbar .notifications .drowpdown-notifications .view-all a, .navbar-dashboard-site .right-side-navbar .notifications .dropdown-profile-user .view-all a, .navbar-dashboard-site .right-side-navbar .profile-user .drowpdown-notifications .view-all a, .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user .view-all a {
            text-decoration: none; }
          .navbar-dashboard-site .right-side-navbar .notifications .drowpdown-notifications .notification, .navbar-dashboard-site .right-side-navbar .notifications .dropdown-profile-user .notification, .navbar-dashboard-site .right-side-navbar .profile-user .drowpdown-notifications .notification, .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user .notification {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 0 5px;
            padding: 10px;
            text-decoration: none;
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s; }
            .navbar-dashboard-site .right-side-navbar .notifications .drowpdown-notifications .notification:hover, .navbar-dashboard-site .right-side-navbar .notifications .dropdown-profile-user .notification:hover, .navbar-dashboard-site .right-side-navbar .profile-user .drowpdown-notifications .notification:hover, .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user .notification:hover {
              background-color: var(--main-color); }
            .navbar-dashboard-site .right-side-navbar .notifications .drowpdown-notifications .notification p, .navbar-dashboard-site .right-side-navbar .notifications .dropdown-profile-user .notification p, .navbar-dashboard-site .right-side-navbar .profile-user .drowpdown-notifications .notification p, .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user .notification p {
              font-size: 11px;
              margin: 0;
              color: #fff;
              font-weight: bold; }
            .navbar-dashboard-site .right-side-navbar .notifications .drowpdown-notifications .notification div > div, .navbar-dashboard-site .right-side-navbar .notifications .dropdown-profile-user .notification div > div, .navbar-dashboard-site .right-side-navbar .profile-user .drowpdown-notifications .notification div > div, .navbar-dashboard-site .right-side-navbar .profile-user .dropdown-profile-user .notification div > div {
              font-size: 11px;
              color: #748194; }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  
  body {
    background-color: #fafbfe;
    color: #6c757d !important;
    overflow-x: hidden; }
  
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px; }
  
  ::-webkit-scrollbar-thumb {
    background: var(--input-color);
    border-radius: 10px; }
  
  ::-webkit-scrollbar-track {
    background: none;
    border-radius: 30px; }
  
  .dashboard-content-right-side {
    margin-left: 260px;
    margin-right: 22px;
    margin-top: 92px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (max-width: 767px) {
      .dashboard-content-right-side {
        margin-left: 18px; } }
    .dashboard-content-right-side.to_left {
      margin-left: 18px; }
  
  p {
    margin: 0; }
  
  .main_table {
    text-align: center;
    background-color: var(--main-color-2);
    padding: 15px;
    overflow: scroll; }
    .main_table table {
      margin: 0;
      width: 100%; }
      @media (max-width: 767px) {
        .main_table table {
          width: 800px; } }
    .main_table tr {
      color: var(--white-color); }
      .main_table tr:not(:last-child) {
        border-bottom: 1px solid #0000009e; }
      .main_table tr td, .main_table tr th {
        margin: 0 15px;
        padding: 15px; }
  
  .code_content {
    padding: 30px; }
    .code_content .coding {
      background: #0a1d38;
      padding: 15px;
      margin-bottom: 15px; }
  
  /*
  .see_code{
  
  }
  */
  .code {
    background-color: #23241f;
    max-height: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    overflow: scroll; }
    .code.see {
      max-height: 500px; }
  
  .login {
    width: 500px;
    background-color: #162231; }
    @media (max-width: 767px) {
      .login {
        width: 100%; } }
    .login img {
      width: 255px;
      height: 65px; }
      @media (max-width: 767px) {
        .login img {
          width: 190px;
          height: 50px; } }
  
  .charts_statistics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px; }
    @media (max-width: 767px) {
      .charts_statistics {
        grid-template-columns: repeat(1, 1fr); } }
    .charts_statistics .chart_one {
      font-weight: bold; }
      .charts_statistics .chart_one h1, .charts_statistics .chart_one .average {
        color: #f5803e; }
    .charts_statistics .chart_two {
      font-weight: bold; }
      .charts_statistics .chart_two h1, .charts_statistics .chart_two .average {
        color: #f5803e; }
    .charts_statistics .chart_three {
      font-weight: bold; }
      .charts_statistics .chart_three h1, .charts_statistics .chart_three .average {
        color: #0888cc; }
    .charts_statistics .chart {
      color: var(--white-color);
      background-color: var(--main-color-2);
      padding: 20px;
      background-size: cover;
      background-position: top;
      border-radius: 7px; }
      .charts_statistics .chart a {
        color: #1657af;
        text-decoration: none;
        font-size: 12px; }
      .charts_statistics .chart .average {
        background-color: var(--main-color);
        padding: 2px 5px;
        font-size: 10px;
        border-radius: 7px; }
  
  /*.dashboard-content-side{
      margin: 10px 10px 0;
  }
  */
  .side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .side .shadow.open {
        width: 100%;
        height: 100vh;
        background: #0000004d;
        position: fixed;
        top: 0px;
        right: 0;
        z-index: 1000000; } }
  
  .side-bar {
    background: var(--main-color);
    width: 217px;
    height: calc(100vh - 110px);
    border: 1px solid #00000012 ;
    padding-bottom: 40px;
    padding-top: 10px;
    position: fixed;
    overflow: scroll;
    top: 90px;
    left: 25px;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .side-bar .logo {
      text-align: center;
      padding: 7px; }
      @media (min-width: 767px) {
        .side-bar .logo {
          display: none; } }
      .side-bar .logo img {
        width: 125px;
        height: 120px; }
    @media (max-width: 767px) {
      .side-bar {
        left: -230px;
        height: 100vh;
        z-index: 1000000;
        top: 0px; }
        .side-bar.open {
          left: 0;
          z-index: 1000000000; } }
    .side-bar.slide_close {
      left: -220px; }
    .side-bar ul {
      padding-left: 15px; }
      .side-bar ul .direct.open {
        max-height: 300px;
        background-color: var(--input-color); }
      .side-bar ul ul {
        padding-left: 10px; }
        .side-bar ul a{
          text-decoration: none;
        }
      .side-bar ul li, .side-bar ul span {
        color: var(--black-color);
        font-size: 13px;
        cursor: pointer;
        margin:6px 6px 15px 5px;
        text-decoration: none;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .side-bar ul li {
        max-height: 30px;
        overflow: hidden;
        position: relative;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        padding: 4px 0;
        border-radius: 5px; }
        .side-bar ul li li{
          margin: 5px 15px 2px 19px !important;
        }
        .side-bar ul li:hover {
          background-color: var(--input-color);
          color: var(--black-color); }
        .side-bar ul li .chevron {
          position: absolute;
          right: 15px;
          font-size: 11px;
          top: 7px;
          -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
                  transform: rotate(-90deg);
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
          .side-bar ul li .chevron.chevron_open {
            -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                    transform: rotate(0deg); }
  

                    .user-admin p{
                      font-size: 13px;
                    }


          .main-shadow{
            box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
          }
          .bg-white{
            background-color: var(--main-color);
          }
          .lecture-butt{
            top: 15px;
            right: 15px;
          }
          .section-butt{
            top: 2px;
            right: 15px;
          }
          .lecture-butt i,.section-butt i{
            cursor: pointer;
          }
          .modal{
            z-index: 100000000;
          }
          .user-added i{
            cursor: pointer;
          }